.blog#blog
    .container
        h1.text-center.fadeInUp.wow Blog Posts
        p.text-center.fadeInUp.wow  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna<br> aliqua ut enim ad minim veniam
        .row
            .col-lg-4.col-md-4.col-sm-6.fadeInUp.wow 
                .boxall
                    .box1
                        img.img-fluid(src="imgs/1a.jpg")
                        .ov2
                            i.fas.fa-pen
                        .ov
                            i.fas.fa-comment 3comment
                            i.fas.fa-heart 0liks
                    h4 Lorem ipsum dolor sit amet consectetur adipisicing elit
                    p.ps JUNE 26, 2014 IN PHOTOGRAPHY
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.



            .col-lg-4.col-md-4.col-sm-6.fadeInUp.wow 
                .boxall
                    .box1
                        
                        
                        .carousel.slide#carouselExampleControls(data-bs-ride="carousel")
                            ol.carousel-indicators
                                li.active( data-bs-target="#carouselExampleControls" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1") 
                                li( data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2")
                                li( data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3") 
                            .carousel-inner
                                .carousel-item.active.fr
                                    
                                    
                                        a(href="") 
                                            img.d-block.w-100.img-fluid(src="imgs/2a.jpg")
                                        
                                    
                    
    
                                .carousel-item.sec
                                    
                                        a(href="") 
                                            img.d-block.w-100.img-fluid(src="imgs/1a.jpg")
                                        
                                    
                
                    
                                .carousel-item.thr
                                    
                                        a(href="") 
                                            img.d-block.w-100.img-fluid(src="imgs/3a.jpg")
                                        
                                    
                    
                            .carousel-control-prev.sd(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
                                    span.i.fas.fa-chevron-left
                                        
                                    span.visually-hidden Previous
                            .carousel-control-next.sd(type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next")
                                    span.i.fas.fa-chevron-right
                                        
                                    span.visually-hidden next  
                        .ov2
                            i.fas.fa-pen
                        .ov
                            i.fas.fa-comment 3comment
                            i.fas.fa-heart 0liks 
                    h4 Lorem ipsum dolor sit amet consectetur adipisicing elit
                    p.ps JUNE 26, 2014 IN PHOTOGRAPHY
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-lg-4.col-md-4.col-sm-6.fadeInUp.wow 
                .boxall
                    .box1
                        img.img-fluid(src="imgs/3a.jpg")
                        .ov2
                            i.fas.fa-pen
                        .ov
                            i.fas.fa-comment 3comment
                            i.fas.fa-heart 0liks
                    h4 Lorem ipsum dolor sit amet consectetur adipisicing elit
                    p.ps JUNE 26, 2014 IN PHOTOGRAPHY
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
