.contact
    .container
        h1.text-center.wow.fadeInUp Contact Us
        p.text-center.wow.fadeInUp Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna<br> aliqua ut enim ad minim veniam
        .row
            .col-lg-8.col-md-8.col-12.fadeInUp.wow
                form
                    input.rr(type="text" placeholder="Name")
                    input.rr(type="text" placeholder="Email Address")
                    input.ss(type="text" placeholder="Subject")
                    textarea(placeholder="Enter your message")
                    input(type="submit" value="send now")

            .col-lg-4.col-md-4.col-12.fadeInUp.wow
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                ul.list-unstyled
                    li 
                        i.fas.fa-map-marker
                        | Address: 2400 South Avenue A
                    li 
                        i.fas.fa-phone
                        | Phone: +928 336 2000
                    li 
                        i.fas.fa-envelope
                        | Email:support@oxygen.com
                    li
                        i.fas.fa-globe
                        |  Website: www.sitename.com
.footer
    .container
        img.text-center(src="imgs/logo.png").fadeInUp.wow
        ul.list-unstyled.text-center.fadeInUp.wow
            li.s 
                a(href="")
                    i.fas.fa-envelope
            li.s1 
                a(href="")
                    i.fab.fa-twitter
            li.s2 
                a(href="")
                    i.fab.fa-behance
            li.s3 
                a(href="")
                    i.fab.fa-facebook
            li.s4 
                a(href="")
                    i.fab.fa-linkedin
            li.s5 
                a(href="")
                    i.fab.fa-tumblr-square

