.header#header
    .carousel.slide.carousel-fade#carouselExampleIndicators(data-bs-ride="carousel")
            .carousel-indicators
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1") 
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2")
                button(type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3") 
            .carousel-inner
                .carousel-item.active.fr
                    
                            
                    .overlay
                    
                    .carousel-caption.d-md-block
                    
                            
                                .xx
                                    h1.text-center.wow.fadeInLeftBIG   WELCOME TO
                                        span OXYGEN
                                    p.text-center.wow.fadeInRightBIG   BOOTSTRAP - RESPONSIVE DESIGN - RETINA READY - PARALLAX
                                    a.aa(href="").wow.fadeInUpBig  START NOW
                                    .hh
                                        a(href="#serv")
                                            i.fas.fa-chevron-down.wow.bounce(data-wow-delay='.5s')
                        
    
                .carousel-item.sec
                    .overlay
                    
                    
                    .carousel-caption.d-md-block
                        
                            
                            .xx
                                h1.text-center.wow.fadeInLeftBIG  SAY HELLO TO
                                    span OXYGEN
                                p.wow.fadeInRightBIG BOOTSTRAP - RESPONSIVE DESIGN - RETINA READY - PARALLAX
                                a.aa(href="").wow.fadeInUpBig START NOW
                                .hh
                                        a(href="#serv")
                                            i.fas.fa-chevron-down.wow.bounce(data-wow-delay='.5s')
                                
                        
                    
                .carousel-item.thr
                    .overlay
                    
                    .carousel-caption.d-md-block
                        
                            .xx
                                h1.text-center.wow.fadeInLeftBIG WE ARE
                                    span CREATIVE
                                p.text-center.wow.fadeInRightBIG  BOOTSTRAP - RESPONSIVE DESIGN - RETINA READY - PARALLAX
                                a.aa(href="").wow.fadeInUpBig START NOW
                                .hh
                                        a(href="#serv" data-wow-delay=".5s").wow.bounceIn 
                                            i.fas.fa-chevron-down.wow.bounce(data-wow-delay='.5s')
                        
                            
                    
                            
                    
            .carousel-control-prev.prr( type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev")
                span 
                    i.fas.fa-chevron-left
                span.visually-hidden Previous
            .carousel-control-next.prr1(type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next")
                span 
                    i.fas.fa-chevron-right
                span.visually-hidden next