.nav
    .container
        .logo
            a(href="")
                img.img-fluid(src="imgs/logo.png")
        ul.list-unstyled
            li 
                a(href="") Home
            li 
                a(href="") Services
            li
                a(href="") About Us
            li
                a(href="") Portofoilo
            li 
                a(href="") Team
            li
                a(href="") Blog
            li
                a(href="") Contact
        a.ff(href="")
            i.fas.fa-bars.fa-2x