.nav
    .container
        .logo
            a(href="")
                img.img-fluid(src="imgs/logo.png")
        ul.list-unstyled.uu
            li.act.ab
                a(href="#header") Home
            li.ac
                a(href="#serv") Services
            li.ad
                a(href="#about") About Us
            li.ae
                a(href="#port") Portofoilo
            li.af 
                a(href="#team") Team
            li.ag
                a(href="#blog") Blog
            li.ah
                a(href="#contact") Contact
        .ff
            i.fas.fa-bars.fa-2x
        .men
            ul.list-unstyled.dis
                li.act1.ab
                    a(href="#header") Home
                li.ac
                    a(href="#serv") Services
                li.ad
                    a(href="#about") About Us
                li.ae
                    a(href="#port") Portofoilo
                li.af 
                    a(href="#team") Team
                li.ag
                    a(href="#blog") Blog
                li.ah
                    a(href="#contact") Contact
                