.port
    
        h3.text-center.wow.fadeInUp Our Portfolio
        p.text-center.wow.fadeInUp Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna<br> aliqua ut enim ad minim veniam
        .row
            .col-lg-3.cc.col-md-3.col-sm-3.wow.fadeInRightBIG(data-wow-delay=".3s")
                img(src="imgs/1b.jpg")
                .over
                    h4.text-center Time Hours
                    p.text-center Design, Photography
                    .lin
                        a(href="")
                            i.fas.fa-link
                        a(href="")
                            i.fas.fa-search-plus

            .col-lg-3.cc.col-md-3.col-sm-3.wow.fadeInLeftBIG(data-wow-delay=".4s")
                img(src="imgs/2b.jpg")
                .over
                    .con
                        h4.text-center Time Hours
                        p.text-center Design, Photography
                        .lin
                            a(href="")
                                i.fas.fa-link
                            a(href="")
                                i.fas.fa-search-plus
            .col-lg-3.cc.col-md-3.col-sm-3.wow.fadeInRightBIG(data-wow-delay=".5s")
                img(src="imgs/3b.jpg")
                .over
                    h4.text-center Time Hours
                    p.text-center Design, Photography
                    .lin
                        a(href="")
                            i.fas.fa-link
                        a(href="")
                            i.fas.fa-search-plus
            .col-lg-3.cc.col-md-3.col-sm-3.wow.fadeInLeftBIG(data-wow-delay=".6s")
                img(src="imgs/4a.jpg")
                .over
                    h4.text-center Time Hours
                    p.text-center Design, Photography
                    .lin
                        a(href="")
                            i.fas.fa-link
                        a(href="")
                            i.fas.fa-search-plus
                        
            .col-lg-3.cc.col-md-3.col-sm-3.wow.fadeInRightBIG(data-wow-delay=".7s")
                img(src="imgs/5.jpg")
                .over
                    h4.text-center Time Hours
                    p.text-center Design, Photography
                    .lin
                        a(href="")
                            i.fas.fa-link
                        a(href="")
                            i.fas.fa-search-plus
                        
            .col-lg-3.cc.col-md-3.col-sm-3.wow.fadeInLeftBIG(data-wow-delay=".8s")
                img(src="imgs/6.jpg")
                .over
                    h4.text-center Time Hours
                    p.text-center Design, Photography
                    .lin
                        a(href="")
                            i.fas.fa-link
                        a(href="")
                            i.fas.fa-search-plus
            .col-lg-3.cc.col-md-3.col-sm-3.wow.fadeInRightBIG(data-wow-delay=".9s")
                img(src="imgs/7.jpg")
                .over
                    h4.text-center Time Hours
                    p.text-center Design, Photography
                    .lin
                        a(href="")
                            i.fas.fa-link
                        a(href="")
                            i.fas.fa-search-plus
            .col-lg-3.cc.col-md-3.col-sm-3.wow.fadeInLeftBIG(data-wow-delay="1s")
                img(src="imgs/8.jpg")
                .over
                    h4.text-center Time Hours
                    p.text-center Design, Photography
                    .lin
                        a(href="")
                            i.fas.fa-link
                        a(href="")
                            i.fas.fa-search-plus
        
