.serv
    .container
        h1.text-center.wow.fadeInUp Our Services
        p.text-center.wow.fadeInUp Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam
        .row
            .col-lg-4
                .box.wow.fadeInDown 
                    i.text-center.fas.fa-flask
                    h5.text-center Brand Identity
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            .col-lg-4
                .box.wow.fadeInDown 
                    i.text-center.fas.fa-umbrella
                    h5.text-center Creative Idea
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            .col-lg-4
                .box.wow.fadeInDown 
                    i.text-center.fas.fa-cloud
                    h5.text-center Awesome Support
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        .row
            .col-lg-4
                .box.wow.fadeInDown  
                    i.text-center.fas.fa-coffee
                    h5.text-center Professional Design
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            .col-lg-4
                .box.wow.fadeInDown  
                    i.text-center.fab.fa-bitbucket
                    h5.text-center App Development
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            .col-lg-4
                .box.wow.fadeInDown  
                    i.text-center.fas.fa-gift
                    h5.text-center Clean Code
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
