.team
    .container
        h1.text-center The Team
        p.ppo.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna<br> aliqua ut enim ad minim veniam
        .row
            .col-lg-3.col-md-3.col-sm-6
                .per
                    img.img-fluid(src="imgs/1.jpg")
                    h5.text-center Marian Dixon
                    h6.text-center CEO & Founder
                    p Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .bl
                        ul.list-unstyled
                            li
                                a(href="").ff
                                    i.fab.fa-facebook
                            li
                                a(href="").tt
                                    i.fab.fa-twitter
                            li
                                a(href="").ll
                                    i.fab.fa-linkedin
                            li
                                a(href="").bb
                                    i.fab.fa-behance
                            li
                                a(href="").ss
                                    i.fab.fa-rss
                            

            .col-lg-3.col-md-3.col-sm-6
                .per
                    img.img-fluid(src="imgs/2.jpg")
                    h5.text-center Marian Dixon
                    h6.text-center CEO & Founder
                    p Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .bl
                        ul.list-unstyled
                            li
                                a(href="").ff
                                    i.fab.fa-facebook
                            li
                                a(href="").tt
                                    i.fab.fa-twitter
                            li
                                a(href="").ll
                                    i.fab.fa-linkedin
                            li
                                a(href="").bb
                                    i.fab.fa-behance
                            li
                                a(href="").ss
                                    i.fab.fa-rss
            .col-lg-3.col-md-3.col-sm-6
                .per
                    img.img-fluid(src="imgs/3.jpg")
                    h5.text-center Marian Dixon
                    h6.text-center CEO & Founder
                    p Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .bl
                        ul.list-unstyled
                            li
                                a(href="").ff
                                    i.fab.fa-facebook
                            li
                                a(href="").tt
                                    i.fab.fa-twitter
                            li
                                a(href="").ll
                                    i.fab.fa-linkedin
                            li
                                a(href="").bb
                                    i.fab.fa-behance
                            li
                                a(href="").ss
                                    i.fab.fa-rss
            .col-lg-3.col-md-3.col-sm-6
                .per
                    img.img-fluid(src="imgs/4.jpg")
                    h5.text-center Marian Dixon
                    h6.text-center CEO & Founder
                    p Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    .bl
                        ul.list-unstyled
                            li
                                a(href="").ff
                                    i.fab.fa-facebook
                            li
                                a(href="").tt
                                    i.fab.fa-twitter
                            li
                                a(href="").ll
                                    i.fab.fa-linkedin
                            li
                                a(href="").bb
                                    i.fab.fa-behance
                            li
                                a(href="").ss
                                    i.fab.fa-rss
.team2
    .container
        .row
            .col-lg-3.col-md-3.col-6
                .vv
                    h1
                        i.fas.fa-user.text-center
                    h3.text-center 4000
                    p Happy Clients
            .col-lg-3.col-md-3.col-6
                .vv
                    h1
                        i.fas.fa-desktop
                    h2.text-center 200
                    p Modern Websites
            .col-lg-3.col-md-3.col-6
                .vv
                    h1
                        i.fas.fa-trophy
                    h2.text-center 10
                    p WINNING AWARDS
            .col-lg-3.col-md-3.col-6
                .vv
                    h1
                        i.fas.fa-comment
                    h2.text-center 24/7
                    p Fast Support
.price
    .container
        h1.text-center Pricing Table
        p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna<br> aliqua ut enim ad minim veniam
        .row
            .col-lg-3.col-md-3.col-sm-6
                .table 
                    h4 basic
                    h1 $9 
                        span /Month
                    ul.list-unstyled
                        li Free Setup
                        li 10GB Storage
                        li 100GB Bandwith
                        li 5 Products
                    a(href="") sign up

            .col-lg-3.col-md-3.col-sm-6
                .table 
                    h4 basic
                    h1 $19 
                        span /Month
                    ul.list-unstyled
                        li Free Setup
                        li 10GB Storage
                        li 100GB Bandwith
                        li 5 Products
                    a(href="") sign up
                
            .col-lg-3.col-md-3.col-sm-6
                .table.re
                    h4 basic
                    h1 $9 
                        span /Month
                    ul.list-unstyled
                        li Free Setup
                        li 10GB Storage
                        li 100GB Bandwith
                        li 5 Products
                    a(href="") sign up
            .col-lg-3.col-md-3.col-sm-6
                .table 
                    h4 basic
                    h1 $9 
                        span /Month
                    ul.list-unstyled
                        li Free Setup
                        li 10GB Storage
                        li 100GB Bandwith
                        li 5 Products
                    a(href="") sign up

.the
    .container
        .bv
            i.text-center.fab.fa-twitter
            h4.text-center THEMEUM
        .carousel.slide#carouselExampleControls(data-bs-ride="carousel")
            .carousel-indicators
                button(type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1") 
                button(type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-current="true" aria-label="Slide 2")
                button(type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-current="true" aria-label="Slide 3") 
            .carousel-inner
                .carousel-item.active.fr
                    
                            
                
                    
                    .carousel-caption.d-md-block
                    
                            
                        p.text-center  Introducing Shortcode generator for Helix V2 based templates #helixframework #joomla<br> http://bit.ly/1qlgwav
                        
    
                .carousel-item.sec
                
                    
                    
                    .carousel-caption.d-md-block
                        
                            
                        p.text-center hi Introducing Shortcode generator for Helix V2 based templates #helixframework #joomla<br> http://bit.ly/1qlgwav
                                
                        
                    
                .carousel-item.thr
                    
                    
                    .carousel-caption.d-md-block
                        
                            
                        p.text-center Introducing Shortcode generator for Helix V2 based templates #helixframework #joomla<br> http://bit.ly/1qlgwav
                .carousel-control-prev.prr(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
                    span 
                        i.fas.fa-chevron-left
                    span.visually-hidden Previous
                .carousel-control-next.prr1(type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next")
                    span 
                        i.fas.fa-chevron-right
                    span.visually-hidden next    
                            


