a{
    text-decoration: none;
    color: #fff;
}
 
body{
    //padding-bottom: 1000px;
    overflow-x: hidden;
    .row{
        overflow-x: hidden;
    }
}
.row{
    overflow:hidden;
}
*{
    transition: all .2s ease-in-out;
}
     
/*.carousel{
    overflow-x:hidden;
}*/
