.nav{
    position: relative;
   
    .ff{
        color: #fff;
        cursor: pointer;
        @media(max-width:768px)
        {
            display: inline-block;
        }
        position: absolute;
        top:30px ;
        display: none;
      
        right: 10px;
    }
    @media(max-width:900px)
    {
        font-size: 14px;
    }

   
   
   padding: 10px;
    .logo{
        margin-top: 10px;
        img{
      
        }
    }
    background-color: #028fcc;
    ul{
        @media(max-width:768px)
        {
display: none;
        }
        float: right;
        margin-top: -60px;
       margin-bottom: -10px;
        /*li:first-of-type{
            background-color: rgba(0,0,0,.4);
            padding: 28px 10px; 
        }*/
        li{
            

            display: inline-block;
            a{font-weight: 400;
                &:hover{
                    color: #fff;
                }
               
               font-weight: bold;
                margin-left: 10px;
            }
            
        }
    }
    
}
.po{
    position: fixed;
    left: 0;
    width: 100%;
    top:0px;
    z-index: 9999;
}
.act{
    
    background-color: rgba(0,0,0,.4);
    padding: 28px 10px;
}
.men{
  
    @media(max-width:768px)
    {
        display: block;
    }
   
     background-color: #028fcc;
     
     margin-top: -10px;
     //margin-top: 70px;
     display: none;
     color: #fff;
     ul{
         width: 100%;
         li{
             margin-bottom: 10px;
             a{
                 margin-left: 5px;
             &:hover{
                 color: #fff;
             }
            }

         }
     }
}
.dis{
    display: none;
    
}
.pos{
    position: fixed;
    top:80px;
    width: 100%;
    z-index: 999;
}