html(style="overflow-x :hidden")
    head
        include pug/layout/styles
    body
        
        include pug/layout/header
        include pug/layout/navbar
        include pug/layout/serv
        include pug/layout/about
        include pug/layout/port
        include pug/layout/team
        include pug/layout/blog
        include pug/layout/contact
        include pug/layout/scripts